MATHFLOW_DEPLOY_HOST=119.29.152.213
MATHFLOW_DEPLOY_USER=root
MATHFLOW_DEPLOY_PASSWORD=
MATHFLOW_SITE_URL=https://sparkaiedu.com
MATHFLOW_REMOTE_REPO_ROOT=/opt/1panel/apps/mathflow-sparkaiedu/shuzhiliu
MATHFLOW_REMOTE_SITE_ROOT=/opt/1panel/www/sites/sparkaiedu.com/index
MATHFLOW_OPENRESTY_CONTAINER=1Panel-openresty-z1xG
MATHFLOW_POSTGRES_CONTAINER=mathflow-postgres
